<% include partials/main_nav.ejs %>
<%- include('partials/header') %>

<h1>All Incident Reports</h1>

<ul>
  <% incidents.forEach(function(incident) { %>
    <li>
      <strong><%= incident.title %></strong><br>
      <%= incident.description %><br>
      <small>
        Date: <%= incident.date.toDateString() %> |
        User: <%= incident.user %>
      </small>
    </li>
    <a href="/incidents/<%= incident._id %>/edit">Edit</a> |
  <form action="/incidents/<%= incident._id %>/delete" method="POST" style="display:inline;">
    <button type="submit">Delete</button>
  </form>
    <hr>
  <% }) %>
</ul>

<a href="/incidents/new">Create New Incident</a>

<%- include('partials/header') %>